/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #a4eb25;
  --second-background: #1c2028;
  --write-color: #a4a7aa;
  --main-transition: 0.4s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #0f1318;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  min-width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-title{
  text-transform: uppercase;
  margin: 0 auto 80px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 25px;
  color: white;
  background-color: var(--second-background);
  font-size: 30px;
  width: fit-content;
  padding: 10px 20px;
  position: relative;
  transition: var(--main-transition);
}
#btn{
  background-color: var(--main-color);
  position: fixed;
  border: none;
  color: white;
  border-radius: 50%;
  font-size: 30px;
  bottom: 30px;
  right:30px;
  padding: 5px 12px;
  /* display: none; */
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.4s ease;
  z-index: 999;
}
#btn.show {
  opacity: 1;
  visibility: visible;
}
#btn i{
  color: var(--second-background);
}
.bt{
  transform: translateY(10px);
}
.item {
  opacity: 0;
  transition: all 1.5s ease;
  visibility: hidden;
  pointer-events: none;
}
.from-right {
  transform: translateX(100px);
}
.from-left {
  transform: translateX(-100px);
}
.show {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}
/* End Global Rules */
/* strat header */
.header{
  position: relative;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container img{
  max-width: 100%;
  width: 150px;
}
.header .main-nav{
  display: flex;
}
.header .main-nav .active li{
  border-bottom:3px solid #a4eb25;
}
.header .main-nav a{
  display: block;
  padding: 0 40px;
  color: var(--main-color);
  font-weight: bold;
  text-transform: uppercase;
  transition: var(--main-transition);
}
.header .main-nav a:hover{
  color: white;
}
@media (max-width: 991px) {
  .header{
    margin-bottom: 100px;
  }
  .header .container{
    display: flex;
    flex-direction: column;
  }
  .header .container img{
    width: 100px;
  }
  .header .main-nav a{
    font-size: 15px;
  }
}
@media (max-width: 767px){
  .header .main-nav a{
    padding: 0 20px;
    font-size: 11.5px;
  }
}
/* End header */
/* strat projects */
.project{
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.project .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.project .container .box{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(164, 167, 170, 0.31) 0px 5px 15px 0px;
  background-color: var(--second-background);
}
.project .box img{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.project .box p{
  padding: 10px;
  margin: 0;
  color: var(--write-color);
  font-weight: bold;
}
.project .box a{
  display: block;
  width: fit-content;
  margin: 10px;
  padding: 5px 30px;
  background-color: var(--main-color);
  color: var(--second-background);
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid #0f1318;
  transition: var(--main-transition);
}
.project .box a:hover{
  background-color: #0f1318;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.project .box .icons{
  display: flex;
  padding: 10px;
}
.project .box .icons i{
  margin-right: 10px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .bt{
  transform: translateY(0px);
  }
}
/* End projects */